*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    .wrapper{
        width: 100%;
        .section-one{
            width: 100%;
            background: url(../asset/bc.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 95vh;
            header{
                display: flex;
                justify-content: space-between;
                padding: 15px 35px;
                .logo{
                    a{
                        color: yellow;
                        font-family: arial black;
                        &:hover{
                            transition: 1s;
                            color: red;
                        }
                    }
                }
                .two{
                    display: flex;
                    gap: 1em;
                    a{
                        font-family: arial black;
                        color: goldenrod;
                        &:hover{
                            color: red;
                            transition: 1s;
                        }
                    }
                }
                
                
            }
        }

        .section-two{
            width: 100%;
            padding: 10px 20px;
            background: goldenrod;
            .top{
                font-family: arial black;
                text-align: center;
                font-size: larger;
                color: black;
            }
            .wrap{
                width: 100%;
                height: 350px;
                display: flex;
                align-items: center;
                gap: 2em;
                justify-content: center;
                .one{
                    width: 40%;
                    font-family: arial black;
                    line-height: 20px;
                    
                    
                }
                .two{
                    overflow: hidden;
                    width: 50%;
                    height: 300px;
                    .wrapp{
                        height: 100%;
                        width: 100%;
                        // border: 1px solid;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 100%;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }     
        
        
        
    }
}
.top{
    text-align: center;
    font-family: arial black;
    color: goldenrod;
    padding: 10px;
}
.section-three{
    width: 100%;
    padding: 40px 30px;
    overflow: hidden;
    .wrap{
        justify-content: space-between;
        width: 100%;
        display: flex;
        .one{
            display: flex;
            border-radius: 12px;
            flex-direction: column;
            width: 50%;
            background: gainsboro;
            height: 400px;
            img{
                border-radius: 12px;
                width: 100%;
                height: 80%;
            }
            .tit{
            line-height: 24px;
            padding: 2px 8px;
                a{
                    color: red;
                    font-family: arial;
                }
            }
        }
    }
}

.section-four{
    width: 100%;
    background: goldenrod;
    padding: 10px 0;
    .t{
        font-family: arial black;
        text-align: center;
    }
     .text{
        padding: 10px 20px;
     }
}



footer{
    padding: 40px 20px;
    background: black;
display: flex;
flex-wrap: wrap;
gap: 1em;
    width: 100%;
    .logo{
        padding: 20px 0;
        font-family: cooper black;
        color: gold;
    }
    .one{
        width: 25%;
        .tops{
            font-family: arial black;
            color: goldenrod;
        }
        .econt{
            gap: 10px;
            line-height: 58px;
            display: flex;
            a{
                color: white;
                img{
                    width: 40%;
                    height: 40px;
                }
                &:hover{
                    color: red;
                    transition: 1s;
                }
            }
        }
        .cont{
            display: flex;
            flex-direction: column;
            width: 100%;
            line-height: 58px;
            a{
                color: white;
                &:hover{
                    color: red;
                    transition: 1s;
                }
            }
           
        }
    }

}


@media only screen and(max-width:720px){
  
        footer{
            display: flex;
           .logo{
            display: none;
           }
           .ecount{
            display: flex;
            flex-direction: column;
            a{
                img{
                    width: 20px;
                }
            }
           }
        }  
    
}
